// Gallery
@mixin grids($column, $row){
    grid-template-columns: repeat($column,1fr);
    grid-template-rows: repeat($row,.5fr);
}
@mixin gridimgs($startColumn, $endColumn, $startRow, $endRow){
    grid-column: $startColumn unquote("/") $endColumn;
    grid-row: $startRow unquote("/") $endRow;
}