// Colores
$burdeo: #9F2A36;
$burdeo-oscuro: #7c151f;
$amarillo: #F2B33D;
$blanco: #fff;
$light: #f6f6f6;
$black: #000;
$negro: #111;

// Fuentes
$fuenteppal: "Montserrat", sans-serif;
$fuentecursiva: 'Baby Blue', sans-serif;