.nav-pills{
    justify-content: center;
    margin-bottom: 2rem;
    .nav-item{
        margin: 0 .5rem;
        .nav-link{
            border-radius: 0;
            padding: .5rem;
            text-transform: uppercase;
            font-weight: 700;
            color: #666;
            background-color: transparent;
            &.active{
                border-bottom: 1px solid $amarillo;
            }
        }
    }
}

.menu-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    // margin-bottom: .5rem;
    img{
        border-radius: 8px;
        aspect-ratio: 1;
        object-fit: cover;
    }
    .descripcion-menu{
        margin-left: 1rem;
        width: 100%;
        .header-menu{
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            padding-bottom: .7rem;
            border-bottom: 2px dashed $black;
            margin-bottom: .7rem;
            @include mobile{
                flex-wrap: wrap;
            }
            @include tablet{
                flex-wrap: nowrap;
            }
            .titulo-menu{
                font-weight: 700;
                color: #444;
                @include mobile{
                    font-size: .9rem;
                    line-height: 1.2rem;
                    margin-bottom: .3rem;
                    width: 100%;
                }
                @include tablet{
                    margin-bottom: 0;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    width: auto;
                }
            }
            .precio-menu{
                font-weight: 700;
                margin-bottom: 0;
                color: #444;
                @include mobile{
                    font-size: .9rem;
                    text-align: left;
                }
                @include tablet{
                    font-size: 1rem;
                    text-align: right;
                    margin-left: 1rem;
                }
            }
        }
        p{
            margin-bottom: 0;
            color: #666;
            @include mobile{
                font-size: 12px;
            }
            @include tablet{
                font-size: 14px;
            }
        }
    }
}
