*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $fuenteppal;
    overflow-x: hidden;
    img{
        max-width: 100%;
    }
    .container{
        overflow: hidden;
    }
    .container-fluid{
        overflow: hidden;
    }
}